/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 10px;
}
form {
  border: 3px solid skyblue;
  margin: 20px 100px;
  background-color: lightgrey;
  padding: 30px 20px;
}

form div {
  text-align: justify;
  padding: 9px;
}

.btn {
  margin: 10px;
}

.title {
  font-weight: bold;
  font-size: 1.5em;
}

.kid-header {
  margin: 20px 5px;
  padding: 10px;
}

.kid-header ul {
  display: inline;
  margin: 10px 2px;
  padding: 5px;
  text-align: left;
}

.kid-header ul li {
  display: inline-block;
}
