/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 10px;
  background-color: #B7C5E2;
}

form {
  border: 3px solid skyblue;
  background-color: lightgrey;
  padding: 30px 20px;
}

form div {
  text-align: justify;
  padding: 9px;
}

.welcome {
  text-align: center;
  padding: 30px;
  margin: 30px;
}

.welcome h1 {
  font-size: 80px;
  padding: 20px;
}

.welcome h2 {
  font-size: 60px;
  padding: 0px 0px 30px 0px;
}

.btn {
  margin: 10px;
}

.list {
  background-color: lightgrey;
  display: inline-flex;
  text-align: center;
  padding: 10px;
}

.sub-list {
  margin: 20px;
}

.list p {
  display: inline-block;
}

.title {
  font-weight: bold;
  font-size: 1.5em;
}

.kid-header {
  margin: 40px 5px;
  padding: 10px;
  display: inline-flex;
  float: center;

}

.kid-header h1 {
  font-size: 50px;
}

.kid-header li {
  display: inline-block;
}
